
/* width <=1199px */
@media (max-width: 1199px){
  
/* policy */
.policy .support-icon, .policy .text-symbol {display: block;}
.policy .text-symbol {text-align: center;margin-top: 10px;}
/*.magicmenu .nav-desktop .level0 .level-top{padding: 20px 9px;}*/

/* About Us, Contact Us */

.company-worker .item .hr span.first {padding-top: 55px;}
.store_info .flex {display: block;padding-left: 0;margin-top: 15px;}
.woocommerce-cart .product-qty label {display: none;}
.col2-left-layout .visible-2 .box-content-port:hover .port-thumb a::before,
.col2-left-layout .visible-2 .box-content-port:hover .port-thumb a::before {margin: 8px;}
/* header */
/*.header .top-left, .header .top-right {width: 100%; text-align: center; }*/
.magicmenu .nav-desktop > .level0:first-child {margin-left: 0} 
.header .site-logo {width: 22%;}
.header .search-area {width: 40%;}
.header .bottom-left {width: 60%}
.header .main-support {width: 50%;}
.header .tool-setting {width: 28%;}
.header .content-account .text-account-area,.header .content-wishlist .text-wishlist-area, .header .content-cart .total-price {display: none;}
.tool-header .content-account,.tool-header .content-wishlist {margin-right: 14px;}
.search-dropdown .categorysearch .form-search .catalogsearch-box {width: 35%;}
.search-dropdown .categorysearch .form-search input {width: 65%;}
.vmagicmenu .nav-desktop .level0 .level-top-mega .mage-column .children, .magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children {width: 215px;}
.vmagicmenu {min-width: 100%;}
.vmagicmenu .nav-desktop {min-width: 100%;}
/* slider */
.slider-show .slider-left {width: 25%}
.slider-show .slider-right {width: 75%} 
/* footer */

.footer .footer-top {padding-top: 15px;padding-bottom: 15px;background-size: cover;}
.footer .home-newsletter {width: 100%;text-align: center;margin-bottom: 10px;}
.footer .home-newsletter form {display: inline-block;}
.footer .home-social{text-align: center;padding-top: 0;width: 100%;}
.footer .home-social .block-social {text-align: center;}
.content-products .slick-prev, .shopbrand .slick-prev {left: 0}
.content-products .slick-next, .shopbrand .slick-next {right: 0}
.footer .box-newsletter .sub-newsletter {width: 45%}
.footer .box-newsletter .block-newsletter {width: 55%}
/* shop */
.category-page .type-product:nth-child(3) {border-top: 1px solid #e6e6e6;}
.sidebar-shop .widget.widget_product_categories > h3, .sidebar-detail .widget.widget_product_categories > h3 {font-size: 14px;}
.sidebar-shop .widget:not(.widget_product_categories) > h3 {font-size: 14px;}
.category-page .products.list .info_main {width: 100%;margin-bottom: 30px;}
.category-page .products.list .product-summary {width: 100%;padding-left: 0;}
.products.list .info .product-summary .pad-summary > a.button, .products.list .info .product-summary .pad-summary > a.added_to_cart {width: 100%}
.woocommerce ul.products.grid li.product:nth-child(3n+1):after {display: block;}
.woo-shop .cat-header .woo-pagination {display: none;}
.type-product .badge .badge-inner {
    padding: 0 5px;
}
.type-product.product-type-grouped .badge .sale-label, .type-product.product-type-variations .badge .sale-label {padding: 0 20px;}

}

@media (min-width: 992px) and (max-width: 1199px) {
.custom-product .box-content {min-height: 530px;}
.countdown .timer-box:last-child {margin-top: 5px;}
.footer-container .download .download-brand:first-child {margin-right: 5px;}
.footer-container .footer-icon-share .follow-buttons {margin-right: 17px;}
.product-horizontal .inner-wrap .product-img {width: 47%;}
.product-horizontal .inner-wrap .info {width: 53%}

}

@media (max-width: 991px){
.vc_deals {width: 100%}
.vc_banner-deals {display: none;}

.vc_navigation {display: none;}
.vc_slider {width: 100%}
.vmagicmenu,.magicmenu {display: none;}
#menu-topmenu-top {display: none !important;}
.container {padding-left: 15px;padding-right: 15px;}
.vc_mobile {display: block;}
#mobileSidenav, .openNav {display: block;}
.openNav {display: inline-block;font-size: 0;padding-right: 15px;}
.openNav:before {font-size: 28px; color: #222; content: "\e871";font-family: 'Linearicons-Free';font-weight: bold; }
.header-logo {display: inline-block;position: relative;}
.header .site-branding {display: inline-block;padding-left: 70px;}
.openNav {display: inline-block;font-size: 0;position: absolute;left: 0;top: 5px}
/* header */
.header .main-support {width: 100%;}

.header .top-left p, .header .top-left .support {display: none;}
.header .top-left .top-currency.has-child > a {padding-left: 0;}
.header .main-support .content-support {text-align: center;}
/*.tool-header .content-account .text-account-area,.tool-header .content-wishlist .text-wishlist-area,.tool-header .content-cart .total-price {display: none;}*/
.header .site-logo,
.header .main-support,
.header .tool-setting {width: 100%;text-align: center;padding-left: 15px;margin-bottom: 30px;}
.header .text-account-area, .header .text-wishlist-area, .header .total-price {text-align: left;}
/*.header .block-minicart .cart-drop.toggle-content::before {right: 216px;}*/
.header .content-account .account-dropdown {text-align: left;}
.header .search-area {padding-top: 10px;padding-bottom: 10px;width: 100%}
.header .tool-setting .tool-header {float: none;}
.header .header-top {line-height: normal; text-align: center;}
.header .slider-show .slider-right {width: 100%;}
.header .language-currency .switches {border-right: none;padding: 0 11px;}
.header .language-currency .currency-link.switches{padding-right: 0;}
.header .header-top .support-call {padding-left: 0;float: none;}
.header .account-link .menu-item.first {padding-left: 0;}
.header .header-top .menu-item {border:none;padding: 0 14px;}
.header .row.row-display {margin-left: 0;margin-right: 0;}
.header .header-content {padding: 18px 0;padding-bottom: 0}
.header .site-branding {
    margin: 0;
}

.header .edit-class {width: 50%; text-align: right;float: left; margin-top: 20px;}
.header .row.row-display {margin-left: 0;margin-right: 0;display: inline-block;}
.header .search-dropdown.toggle-tab-mobile .toggle-tab.mobile .fa{color: #f03e3e;font-size: 20px;}
.header .search-dropdown.toggle-tab-mobile.toggle-visible .toggle-tab.mobile .fa {display: none; }
.header .search-dropdown form {position: relative;}
.header .cart-toggler .shopping-basket {border:none;width: 30px;height: 30px;line-height: 30px;}
.header .block-minicart .mg-minicart.toggle-content {top: 40px;}
.header .toggle-tab-mobile.toggle-visible .toggle-tab:before {content: "\f00d"; font-family: "FontAwesome"; color: #f03e3e;font-size: 20px; }
.header .mean-bar .mean-nav .mobile-title { font-weight: bold; font-size: 17px; color: #fff; text-transform: uppercase; line-height: normal;position: absolute;}
.header .header-fixed {display: none;}
.slider-show .slider-right {width: 100%}
.block-title-tabs {position: relative;}
.block-title-tabs .toggle-tab {display: block !important; font-size: 24px; line-height: 50px; position: absolute; right: 0;top: 6px;}
.product-horizontal .block-title-tabs .toggle-tab {display: none !important;}
.block-title-tabs.toggle-visible .toggle-tab:before {content: "\f00d"; font-family: "FontAwesome";}
.block-title-tabs.toggle-visible .toggle-tab .fa {display: none;}
.block-title-tabs .toggle-content {position: absolute;right: 0; top: 50px; z-index: 99; background: #fff;display: none;    box-shadow: 0 2px 10px rgba(0,0,0,.5); -moz-box-shadow: 0 2px 10px rgba(0,0,0,.5); -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.5); -o-box-shadow: 0 2px 10px rgba(0,0,0,.5); -ms-box-shadow: 0 2px 10px rgba(0,0,0,.5);padding: 15px 0;width: 200px;}
.block-title-tabs .toggle-content.visible {display: block;}
.block-title-tabs .magictabs .item {float: none;text-align: left;}
.block-title-tabs .magictabs .item span {border: 0;line-height: normal;}
.banner-featured {display: none;}
.catalog-type.box-content .block-content {padding-left: 5px;}
/* footer */
.footer .vc_newsletter {width: 100%;margin-bottom: 30px;}
.footer .vc_social {width: 100%}
.footer .footer-social .title-social {display: inline-block;margin-bottom: 0;margin-right: 5px;} 
.footer .footer-social {float: none;text-align: center;}
.footer-container .paypal img {margin-right: 12px;}

/* widget */

.color-item {margin-right: 15px;}
.woocommerce .product-thumb {width: 100%;float: none;}
.woocommerce .product-info {overflow: visible;}
.right-post {margin-top: 15px;display: inline-block;}

/* About Us, Contact Us */
.company-worker .item .hr span.first {font-size: 18px;padding-top: 33px;}
.company-worker .item .hr span.last {font-size: 32px;}

/* Portfolio */
.block-portfolio {position: relative;}
.block-portfolio .toggle-tab {display: block !important;font-size: 24px;}
.block-portfolio .toggle-content {position: absolute;display: none;z-index: 99;background-color: #fff;box-shadow: 0 2px 10px rgba(0,0,0,.5); -moz-box-shadow: 0 2px 10px rgba(0,0,0,.5); -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.5); -o-box-shadow: 0 2px 10px rgba(0,0,0,.5); -ms-box-shadow: 0 2px 10px rgba(0,0,0,.5);}
.block-portfolio.toggle-visible .toggle-tab .fa {display: none;}
.block-portfolio.toggle-visible .toggle-tab:before {content: "\f00d"; font-family: "FontAwesome";}

.box-portfolio .block-title-tabs .magictabs .item .title {background-color: #fff;display: block;margin-right: 0;}
.single-portfolio .entry-thumb {margin-bottom: 20px;}
.single-portfolio .toggle-tab.mobile {display: none !important;}
.box-portfolio .block-title-tabs {width: 200px;}
.box-portfolio .block-title-tabs .magictabs .item.activated .title {background-color: #fff;color: #ef5350}
.block-title-tabs .magictabs .item.activated::after {height: 0}
.product-quantity .quantity {display: inline-block;}
.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {background-color: #fff;}
.cart-toggler .icon-cart {position: relative;}
.cart-toggler .cart-items .your-cart,.cart-items .cart-text{display: none;}

.cart-items .cart-quantity {
  color:#ffffff;
  font-weight:bold;
  font-size:12px;
  line-height:20px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f89e00;
  border-radius:50%;
  text-align: center;
  right: -5px;
  bottom: -1px;
}
/* slider */
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption1, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption1 {font-size: 30px;line-height: 30px;margin-top: 20px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption2, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption2 {font-size: 30px;line-height: 30px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption3, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption3 {font-size: 30px;line-height: 30px;}
.magicslider .slick-slide.slick-active .figcaption .caption4 {margin-top: 0;}
.magicslider .slick-slide.slick-active .figcaption .btn-shop {margin-top: 4px;}

/* main product */
.main-product {padding-left: 75px;padding-right: 75px;}
.custom-product .box-content {min-height: 550px;}
.custom-product {margin-bottom: 40px;}
/*.product .inner-wrap .info .info_main .product-name a {overflow: hidden;}*/
.cms-rate-product .magicproduct .products .type-product:nth-child(4n) {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #e6e6e6;}
/* shop */
.woo-shop .cat-header .woo-pagination {display: none;}
.woo-shop .cat-header .sort-bar {float: none;}
.type-product .badge {font-size: 11px}
.type-product .badge .badge-inner {padding: 0 5px;line-height: 22px;}
.type-product .badge .new-label,.type-product.product-type-grouped .badge .sale-label, .type-product.product-type-variations .badge .sale-label {padding: 0 18px;}
.type-product .badge .badge-inner::before {border-width: 0 8px 22px 0}
.woocommerce .breadcrumbs {margin-top: 0;}
.service-box .service-info h2 {font-size: 14px;}
.woocommerce div.product form.cart .variations {width: 100%;}
.category-page .products.list .quickview a {display: none;}
.list-service-box.vc_service .service-icon {display: block;}
.shop-by-brand .magictabs {width: 33%}
.shop-by-brand .block-content {width: 67%}
.product-horizontal .magiccategory .magictabs {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    box-shadow: none;
    padding: 0;
}
.woo-shop .cat-footer .woocommerce-result-count {font-size: 13px;}
ul.page-numbers li a, ul.page-numbers li span {width: 38px;height: 38px;line-height: 36px;}
/* cart */
.shop_table .actions a {padding: 0 40px;}
.woocommerce-cart tbody td.product-thumbnail .product-item-photo, .woocommerce-wishlist tbody td.product-thumbnail .product-item-photo {width: 100px;}
.product-vertical .block-title-tabs h3.title {top: 11px;}
.product-vertical .block-title-tabs .toggle-tab {top: -6px;}
.cate-magic.product-vertical .magictabs {position: absolute;top: 38px;}
/* banner */
.addon-box .caption-ads {top: 0}
.addon-box .caption-ads.caption-ads2 {top: 11px;}
.addon-box .caption-ads.caption-ads3 {top: 5px;}
}


@media (min-width: 768px) and (max-width: 991px){

.alo-col-sm-1{ width: 8.3333333333333333333%; float: left;}
.alo-col-sm-2{ width: 16.666666666666664%; float: left;}
.alo-col-sm-3{ width: 25%; float: left;}
.alo-col-sm-4{ width: 33.33333333333333%; float: left;}
.alo-col-sm-5{ width: 41.66666666666667%; float: left;}
.alo-col-sm-6{ width: 50%; }
.alo-col-sm-7{ width: 58.333333333333336%; float: left;}
.alo-col-sm-8{ width: 66.66666666666666%; float: left;}
.alo-col-sm-9{ width: 75%; float: left;}
.alo-col-sm-10{ width: 83.33333333333334%; float: left;}
.alo-col-sm-11{ width: 91.66666666666666%; float: left;}
.alo-col-sm-12{ width: 100%; float: left;}
.collapsible {margin-top: 22px;}
.col2-left-layout .col-main, .col2-right-layout .col-main {
    width: 66%;
}
.sidebar {width: 34%}
.alo-col-sm-6:last-child {margin-top: 20px;clear: both;}
.single-portfolio .col2-right-layout .so-plusone,.single-portfolio .col2-right-layout .sl-wrapper,.single-portfolio .col2-left-layout .so-plusone,.single-portfolio .col2-left-layout .sl-wrapper {margin-top: 15px;}
  /* Cart */
/*.woocommerce-cart .product-qty .btn-plus,.woocommerce-cart .product-qty input.qty {float: none;border: none;}
.woocommerce-cart .product-qty .btn-plus {display: block;}*/
.woocommerce-cart .product-qty input.qty {margin: 0;width: 30px;}
.woocommerce-cart .quantity {display: inline-block;border: 1px solid #ebebeb;}
.woocommerce-cart .product-qty {text-align: center;}
/* My acount */
.addresses header.title h3 {width: 88%}
/* footer */
.footer-container .vc_copyright {width: 55%}
.footer-container .vc_paypal {width: 45%;}
/* group product */
.woocommerce form .group_table div.quantity {width: 128px;}
.woocommerce .group_table .product-qty input.qty {width: 50px;}
.countdown .timer-box:last-child {margin-top: 5px;}
.list-service-box.vc_service .service-icon {display: block;}

}
@media (max-width: 767px){
/* Slider */
.magicslider .slick-slide.slick-active .figcaption .btn-shop {line-height: 33px;padding: 0 22px;}
.banner-boder-zoom {text-align: center;max-width: 370px;margin: 0 auto;margin-bottom: 30px !important}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption2 strong {font-size: 25px;}
.banner270 .banner-boder-zoom {max-width: 270px;}
.banner1170 .banner-boder-zoom {max-width: 1170px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide1 .caption1 {margin-bottom: 6px;}

/* header */
.header .top-banner {display: none;}
.header .top-left .top-currency.has-child > a {padding-right: 12px;}
.header .top-left .top-language.has-child > a {padding-left: 12px;}
.header .top-right ul li {padding: 0 12px;}
.sub-menu-top {right: auto;left: 0}
.header .top-right .sub-menu-top li {padding: 5px 15px;}

/* footer */
.collapsible .toggle-content {display: none; }
.collapsible .toggle-content.visible {display: block;margin-bottom: 37px; }
.footer .copy-right address {line-height: normal;}
.footer .copy-right,
.footer .paypal {text-align: center;}
.footer .copy-right {margin-bottom: 30px;}
.header-content .search-dropdown input[type=text]{margin-right: -15px;}
.collapsible {position: relative;}
.collapsible .toggle-tab.mobile {display: block !important;position: absolute;top: 0;right: 0;}
.collapsible .toggle-tab.mobile:before {font-family: "FontAwesome"; display: inline-block; font-size: 20px; text-align: center; width: 19px; line-height: 25px; font-weight: bold;content: "\f106";}
.collapsible.toggle-visible .toggle-tab.mobile:before {content: "\f107";}
.banner-row .banner-column .banner-boder-zoom {max-width: 370px;margin: 0 auto 10px;}
#footer-bottom {padding-top: 35px;padding-bottom: 10px;}
.f-right {float: none !important;}
.sidebar-left,.sidebar-right {clear: both;}
.single-product .product-info-main {margin-top: 15px;}
.widget-topseller .product-img {margin-bottom: 15px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption2, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption2,.magicslider .slick-slide.slick-active .figcaption .caption2{font-size: 20px;line-height: 20px}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption1, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption1,.magicslider .slick-slide.slick-active .figcaption .caption1 {font-size: 20px;line-height: 20px;}

.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption3, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption3,.magicslider .slick-slide.slick-active .figcaption .caption3{font-size: 15px;}
.magicslider .slick-slide.slick-active .figcaption .caption4 {font-size: 14px;line-height: 14px;}

/* popup newsleter*/
/*#test-popup{max-width: 100% !important;background-image: none !important;}
.popup-newsleter form .input-box {width: 100%;margin-bottom: 15px;}
.popup-newsleter form .action {margin-left: 0;}
.popup-newsleter form .action {width: auto;float: none;}

.popup-newsleter form .tnp-submit {float: none;}
.mfp-content .social-checkbox {padding: 20px;}*/
/* popup quick view */
#yith-quick-view-content div.images,#yith-quick-view-content div.summary {width: 100%;}

/* About Us, Contact Us */
.fix-width {margin-bottom: 20px;}
.company-worker .item {width: 100%;padding-bottom: 20px;}
.company-worker .item .img {margin: 0 auto;max-width: 260px;}
.member-carousel .info {text-align: center;}
.company-worker .item .hr span.first {font-size: 23px;padding-top: 69px;}
.company-worker .item .hr span.last {font-size: 40px;}
.about-featured .featured-section {margin-bottom: 30px;}
/* Cart */
.woocommerce-cart tbody td.product-thumbnail, .woocommerce-wishlist tbody td.product-thumbnail {max-width: none;}
table.shop_table_responsive tr.cart_item td.product-name {display: none;}
table.shop_table_responsive tbody th, table.shop_table_responsive thead, table.shop_table_responsive tr td.product-thumbnail::before, table.wishlist_table tbody th, table.wishlist_table thead, table.wishlist_table tr td.product-thumbnail::before {display: none;}
table.shop_table_responsive tr td:not(.product-quantity) {text-align: right;}
table.shop_table_responsive tr td::before {
    content: attr(data-title) ": ";
    font-weight: 600;
    float: left;
    color: #222;
    font-size: 14px;
}
table.shop_table_responsive tr td, table.wishlist_table tr td {
    display: block;
    clear: both;
    overflow: hidden;
}
table.shop_table_responsive tr td.product-remove:before,
  table.shop_table_responsive tr td.actions:before,
  table.wishlist_table tr td.product-remove:before,
  table.wishlist_table tr td.actions:before {
    content: '';
  }
.shop_table .product-quantity .product-qty {float: right;}
.actions .coupon label {
    text-align: center;
    width: 100%;
    display: inline-block;
}
table.cart .actions .coupon input {
    width: 100%;
    display: block;
    margin: 10px 0 0;
}
.actions .button.update-cart {
    width: 100%;
    margin-top: 10px;
}
.actions .coupon {
    float: none;
    width: 100%;
    display: block;
}
.actions .button.update-cart {
    width: 100%;
    margin-top: 10px;
}
.shop_table .product-remove {padding-right: 12px;}
.woocommerce-page .cart-collaterals .cart_totals .subtotal {width: 100%;}
.cart-collaterals .cross-sells, .cart-collaterals .cross-sells + .cart_totals, .cart_totals td {width: 100%;}
table.shop_table_responsive tr td.product-thumbnail, table.wishlist_table tr td.product-thumbnail {text-align: left;} 
.woocommerce-cart .product-qty label {display: none;}
.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {background-color: #fff;}
.shop_table .actions .update-clear {float: none;}
.shop_table .actions a.shopping, .woocommerce .actions input.button,.shop_table .actions a.clear-shopping {width: 100%;text-align: center;margin-bottom: 30px;}
.woocommerce .coupon,.woocommerce .cart-collaterals {width: 100%;margin-bottom: 30px;}
/* Wishlist */

.wishlist_table tbody tr {display: block;position: relative;}
.wishlist_table tbody tr td {display: block;}

.shop_table.wishlist_table thead,.shop_table.wishlist_table tfoot {display: none;}
.woocommerce table.wishlist_table tbody td.product-name {text-align: center;display: none;}
.woocommerce table.wishlist_table tr td.product-remove {text-align: left;padding: 12px 12px;}

/* My Acount */
.woocommerce #customer_login .col-1, .woocommerce #customer_login .col-2 {width: 100%;}
.woocommerce-account .woocommerce-MyAccount-content, .woocommerce-account .woocommerce-MyAccount-navigation {width: 100%;padding-right: 0;}
.woocommerce-account .woocommerce-MyAccount-content {margin-top: 20px;}
.woocommerce .col2-set.addresses .col-1, .woocommerce .col2-set.addresses .col-2 {width: 100%}
.woocommerce #customer_login .u-column1 {margin-bottom: 30px;} 
/* main product */
.main-product {padding-left: 0px;padding-right: 0px;}
.custom-product .box-content {min-height: inherit;}
.supper-deals {position: static;}
.woocommerce .products li.product .price {font-size: 23px;}


.cms-rate-product .product-img,.cms-rate-product .info {width: 100%;}
.cms-rate-product .products.grid .inner-wrap {padding-bottom: 20px;}
.cms-rate-product .product-summary {right: auto;left: 8px;top: 212px;bottom: auto;}
/* widget */
.sidebar > ul {width: 50%;}
/* shop */
.list-service-box.vc_service .col-service:not(:last-child) {border-right: 0;border-bottom: 1px solid #e6e6e6}
.woocommerce div.product form.cart .variations {width: 38%;}
.list-service-box.vc_service .col-service .service-box {padding-top: 20px;padding-bottom: 20px;}

/* check out */
.woocommerce-checkout .checkout-left {margin-bottom: 30px;}
.single-product .list-service-box .col-service {margin-bottom: 30px; }
/* deal */
.cms-page-countdown-product .block-title-tabs {text-align: center;}
.cms-page-countdown-product .product-type h3.title-deal {top: -33px;}
.addon-box .caption-ads,.addon-box .caption-ads.caption-ads2 {right: 26%;}
.addon-box .caption-ads.caption-ads3 .caption1 {font-size: 20px;}
.addon-box .caption-ads.caption-ads3 .caption3 {font-size: 16px;margin-bottom: 3px;}


}

@media (min-width: 640px) and (max-width: 767px) {
  .product-horizontal .inner-wrap .product-img {width: 43%}
  .product-horizontal .inner-wrap .info {width: 57%}
}

@media (max-width: 640px){
/* header */
.top-left,.top-right {width: 100%;}
.custom-product {width: 100%}
.header .header-content .vc_logo,.header .header-content .vc_search-cart-tag {width: 100%;text-align: center;}  
.header .vc_cart,.header .search-dropdown,.header .vc_search,.header .header-tag,.header .col-tag {position: static;}
/*.header .toggle-tab-mobile .toggle-content,.header .block-minicart .mg-minicart.toggle-content {right: 50%;transform: translateX(50%);}*/
.header .header-tag.toggle-tab-mobile .toggle-content {right: 50%;transform: translateX(50%);}
.header .content-account .account-dropdown {right: auto;left: 0}
.header .content-account .account-dropdown::before {right: auto;left: 37px;}
/* footer */

.footer .home-newsletter .tnp-widget-minimal input.tnp-email,.footer .home-newsletter button {height: 40px;}
.footer .newsletter .block-title {width: 100%}
.footer .newsletter .block-title .title {line-height: 45px;}
.footer .home-social h3 {line-height: 40px;width: 100%}
.footer .home-newsletter .actions {float: left;height: 40px;}
.footer .home-social .icon-share {width: 40px;height: 40px;line-height: 40px;}
.footer .home-newsletter span {line-height: 40px;}
.footer .home-newsletter span {width: 100%;margin-right: 0;}
.footer .box-newsletter .block-newsletter {width: 100%;padding-left: 0;text-align: center;}
.footer .box-newsletter .sub-newsletter {width: 100%;text-align: center;margin-bottom: 30px;}

.product-horizontal .magicproduct .products .type-product:nth-child(5n) {border-bottom: 1px solid #e6e6e6;margin-bottom: 20px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption1, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption1,.magicslider .slick-slide.slick-active .figcaption .caption1 {font-size: 20px;line-height: 20px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption2, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption2,.magicslider .slick-slide.slick-active .figcaption .caption2{font-size: 20px;line-height: 20px;}

.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption3, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption3,.magicslider .slick-slide.slick-active .figcaption .caption3{font-size: 20px;line-height: 20px;}
.magicslider .slick-slide.slick-active .figcaption .caption4 {display: none;}

.magicslider .slick-slide.slick-active .figcaption .btn-shop {line-height: 33px;font-size: 12px;margin-top: 3px;}
.magicslider .slick-slide.slick-active .figcaption .caption1 {margin: 0 0 15px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption1,.magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption1 {margin: 0 0 15px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption3, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption3 {margin: 11px 0 0;}
.magicslider .slick-slide.slick-active .figcaption .text-slide1 .caption3 {margin: 5px 0 0}
/*.edit-class {padding-left: 0;}*/
/* popup newsleter */
.social-checkbox .block-social {width: 100%;margin-bottom: 15px;}
.social-checkbox .checkbox {float: left;}
.checkbox label {padding-left: 0;}
.newsletter-popup {padding-right: 35%;}
/* Cart */
.woocommerce-page .cart-collaterals .cart_totals .subtotal {float: none;width: auto;}
/* Privacy Policy */
.privacy-policy .data-table thead {display: none;}
.privacy-policy .data-table tbody tr th,.privacy-policy .data-table tbody tr td {display: block;}
.data-table tbody th, .data-table tbody td {border-bottom:none;border-right: none; }
/* main product */
.main-product {padding-left: 75px;padding-right: 75px;}
.content-products .slick-next, .shopbrand .slick-next {right: 0;}
.content-products .slick-prev, .shopbrand .slick-prev {left: 0}
/* list post */
.list-blog.list-view article .entry-content .post-item-photo {width: 100%;float: none;}
.list-blog.list-view article .entry-content .post-item-detail {padding-left: 0;}
/* single product */
.woocommerce-page #content div.product .woocommerce-tabs {display: block;}
.woocommerce div.product .woocommerce-tabs ul.tabs,.woocommerce div.product .woocommerce-tabs .magictabs-single-product {width: 100%}
.woocommerce div.product .woocommerce-tabs ul.tabs {border-right: 0}
.woocommerce div.product form.cart .variations {width: 52%;}
.woocommerce-product-gallery .slick-vertical {top: 30px;}

/* shop */
.category-page .products.list .quickview a {display: none;}
.cms-page-countdown-product .product-img,.cms-page-countdown-product .info {width: 100%}
.cms-page-countdown-product .slick-dots {bottom: -15px;}
ul.page-numbers li {margin-right: 8px;}
/* deal */
.alo-count-down {padding-left: 18px;padding-right: 18px;}
.alo-count-down .content-count-down {padding: 8px 15px;}
.addon-box .caption-ads.caption-ads3 .shop-now {display: none;}

}

@media (max-width: 480px){

/* slider */
.magicslider .slick-slide.slick-active .figcaption .caption5 {display: none;}
.magicslider .slick-arrow {display: none !important;}

/* footer */  
.footer-default .footer-menu-bottom {text-align: left;margin-left: -8px;}
.footer .home-newsleter .tnp-widget-minimal input.tnp-email {width: 100%;}
.footer .home-newsletter .tnp-widget-minimal input.tnp-email {width: 200px;}
.site-branding,.edit-class {width: 100%;text-align: center;}
.header-content .search-dropdown input[type="text"] {margin-right: -15px;}
.header-content .search-dropdown {position: static;}
.footer .copy-right, .footer .paypal {text-align: left;}
.footer .footer-social .title-social {display: block;margin-bottom: 20px;margin-right: 0}
/* header */
.header .content-account .text-account-area, .header .content-wishlist .text-wishlist-area, .header .content-cart .total-price {display: none;}
.header .cart-drop .buttons a.viewcart {margin-left: 14px;}
.header .tool-setting .tool-header {position: relative;}
.header .content-account .account-dropdown {left: 0;right: auto;}
.header .content-account .account-dropdown::before {right: auto;left: 37px;}
.header .main-support .support.support-phone {margin-bottom: 30px;width: 100%;text-align: center;}
.header .main-support .support.free-delivery {width: 100%;text-align: center;margin-left: 0}
.header .block-minicart {position: static;}
.woocommerce .mini_cart_item .product-info .product-name {margin-bottom: 0}
.header .block-minicart .cart-drop.toggle-content {width: 100%;right: 0;}
.header .block-minicart .cart-drop.toggle-content::before {right: 22%;}
.woo-shop .woo-pagination {float: none;}
.woo-shop .sort-bar {float: none;text-align: center;margin-bottom: 15px;}
.woocommerce .woo-pagination nav.woocommerce-pagination ul,
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {float: none;}
.woocommerce .breadcrumbs {line-height: 25px;margin-top: 0;}
/*.mg-minicart, .block-minicart .mg-minicart.toggle-content {transform: translateX(-20px);}*/
.counter h2 {margin-bottom: 10px;font-size: 15px;padding: 0 10px;}
.block-title-tabs .alo-count-down {float: left; }
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption3, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption3 {font-size: 15px;line-height: 15px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption2, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption2, .magicslider .slick-slide.slick-active .figcaption .caption2 {font-size: 20px;line-height: 20px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption3, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption3, .magicslider .slick-slide.slick-active .figcaption .caption3 {font-size: 15px;line-height: 15px;}
.magicslider .slick-slide.slick-active .figcaption .btn-shop {line-height: 29px;}
.magicslider .slick-slide.slick-active .figcaption .text-slide2 .caption1, .magicslider .slick-slide.slick-active .figcaption .text-slide3 .caption1, .magicslider .slick-slide.slick-active .figcaption .caption1 {font-size: 15px;line-height: 15px;}

/* About Us, Contact Us */
.detail-about .left-detail-about .box {width: 100%;}
.DTFC_LeftWrapper {width: 150px !important;}
.dataTables_scroll {left: 150px !important;}
/* main product */
.main-product {padding-left: 0px;padding-right: 0px;}
.cms-rate-product .magicproduct .products .type-product:nth-child(5n) {padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e6e6e6;}
/* widget */
.sidebar > ul {width: 100%;}
/* shop */
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {width: 100%;margin-bottom: 20px;}
.woo-shop .gridlist-toggle {margin-left: 0;}
.products.list .info .product-summary .pad-summary > a.button, .products.list .info .product-summary .pad-summary > a.added_to_cart {padding: 0 40px;}
.category-page .products.list .product-img {width: 100%}
.category-page .products.list .info {width: 100%;padding: 0;}
.cms-page-countdown-product .block-title-tabs {margin-bottom: 53px;}
.cms-page-countdown-product .product-type h3.title-deal {position: static;margin-bottom: 20px;}
.alo-count-down {position: static;}
.cms-page-countdown-product .block-title-tabs {border-width: 0}
/* service */
.single-product .list-service-box {margin-top: 20px;}
.single-product .list-service-box .col-service {width: 100%;border: 0}
.single-product .list-service-box .col-service .service-box {text-align: left;}
.single-product .service-box .service-info p {font-size: 12px;}
.woocommerce-page #content div.product .woocommerce-tabs {margin-top: 20px;}
/* single post */
.comment-respond .comment-form-author, .comment-respond .comment-form-email {width: 100%}
.woocommerce div.product form.cart .variations {width: 70%;}
.latest-blog .post-desc,.latest-blog .post-thumb {width: 100%}
.latest-blog .post-thumb {margin-bottom: 20px;}
.latest-blog .post-desc {padding-left: 0}
/* checkout */
.woocommerce form .form-row-first, .woocommerce form .form-row-last {width: 100%;}
.group_table td {display: block; }
.entry-summary form.cart .group_table {border-width: 1px 0 0 1px;}
/* single product */
.entry-summary button.button.alt {padding: 0 75px;}
/* popup newsletter */
.newsletter-popup {padding-right: 7%;}
/* shop by brand */
.shop-by-brand .magictabs {width: 40%}
.shop-by-brand .block-content {width: 60%}
/* banner */
.addon-box .caption-ads, .addon-box .caption-ads.caption-ads2 {right: 15%;}
.addon-box .caption-ads.caption-ads3 .caption1,.addon-box .caption-ads.caption-ads3 .caption2,.addon-box .caption-ads.caption-ads3 .caption3 {font-size: 14px;}
 
}

@media (max-width: 360px) {
.header .block-minicart .cart-drop.toggle-content::before {right: 35%;}
.header .content-account .text-account-area, .header .content-wishlist .text-wishlist-area, .header .content-cart .total-price {display: none;}
.header .content-account {position: static;}
.header .content-account .account-dropdown {left: 50%;transform: translateX(-50%);}
.header .content-account .account-dropdown::before {left: 54px;}
.header .top-left .top-currency.has-child > a {padding-right: 6px}
.header .top-left .top-language.has-child > a {padding-left: 6px;}
.header .top-right ul li {padding: 0 6px;}
.counter h2 {margin-bottom: 10px;font-size: 15px;padding: 0 10px;}
.countdown:before {font-size: 15px;padding: 0 15px;}
.alo-count-down {padding-left: 0px;padding-right: 0px;position: static;margin-bottom: 42px;}
.cms-page-countdown-product .block-title-tabs {border-width: 0}
.cms-page-countdown-product .block-title-tabs {text-align: left;}
.alo-count-down .content-count-down {padding: 8px 8px;}
.cms-page-countdown-product .product-type h3.title-deal {right: 11px;}
.block-title-tabs .alo-count-down {float: left;}
.header .cart-drop .buttons a {padding: 0 22px;}
.header .cart-drop .buttons a.viewcart {padding: 0 12px;}
/* footer */
.footer .collapsible.mobile-collapsible > .block-title.title-sub {font-size: 18px;}
.footer .footer-icon-share .follow-buttons {margin-right: 15px}
.footer .download .download-brand:first-child {margin-right: 0}
.footer .download .download-img {margin-left: -9px;margin-right: -9px}
.footer .download .download-brand {width: 47%;padding: 0 9px;}
.footer .footer-container .paypal img {margin-right: 6px;}
.footer .home-newsletter .tnp-widget-minimal input.tnp-email {width: 175px;}
.home-social .icon-share {width: 40px;height: 40px;line-height: 40px;}
.account-link .menu-item.first {padding-left: 15px;}
.product-horizontal .inner-wrap .product-img {width: 45%}
.product-horizontal .inner-wrap .info {width: 55%}

/* popup newsleter */
.social-checkbox .block-social .block-title {width: 100%;margin-bottom: 15px;}

/* About Us, Contact Us */
.store-item .store_info {width: 100%}
/* Cart */
.woocommerce-cart table.cart td.actions .coupon .input-text,.woocommerce table.cart td.actions .coupon .input-text+.button {width: 100%;margin-bottom: 15px;}
.block-minicart .mg-minicart.toggle-content {width: 320px;}
.store-contact .store1 .store-item .store_info {width: 100%;}
.addresses header.title h3 {width: 85%;}
/* shop */
.products.list .info .product-summary .pad-summary > a.button, .products.list .info .product-summary .pad-summary > a.added_to_cart {padding: 0 30px;}
.type-product .badge {height: 22px;line-height: 22px;font-size: 10px;}
.type-product .badge .badge-inner::before {border-width: 0 8px 22px 0;}
.woocommerce .products li.product .price {font-size: 19px;}
/* single product */
.woocommerce div.product form.cart .variations {width: 83%;}
.woocommerce form div.quantity {width: 100px;}
.woocommerce .product-qty input.qty {width: 30px;}
/* my account */
.woocommerce form .form-row label.inline {display: block;margin-top: 10px;}
.woocommerce-form__input.woocommerce-form__input-checkbox {margin-left: 0;}
.countdown .timer-box {padding-top: 0}
/* banner */
.addon-box .caption-ads.caption-ads1 .shop-now {display: none;}
.addon-box .caption-ads.caption-ads2 .caption1 {font-size: 18px;} 
.addon-box .caption-ads.caption-ads3 {left: 24px;}
/* pagination */
ul.page-numbers li a, ul.page-numbers li span {width: 38px;height: 38px;line-height: 36px}
.comment-block .pt-right {float: none !important;}
}

@media (max-width: 320px) {
.woo-shop .gridlist-toggle {display: block; margin-bottom: 15px; margin-right: 0; }

}


















